@{
    ViewBag.Title = "About";
}

<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/Content/images/only-logo.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Fly Pizza
                        </h2>
                    </div>
                    <p>
                        Fly Pizza là thành quả nghiên cứu của chúng tôi, một hành trình đầy
                        gian nan để đạt được những thứ hiện tại.
                        Với những gì đã bỏ ra chúng tôi tin chắc rằng Fly Pizza sẽ là nơi
                        mang đến những trải nghiệm tuyệt vời nhất.
                    </p>
                    <p>
                        Fly Pizza - nơi bạn được thỏa sức thể hiện chính mình với cơ hội hấp dẫn để phát triển cá
                        nhân lẫn nghề nghiệp toàn diện!
                        Chúng tôi tân tâm mang đến một môi trường làm việc thân thiện và chuyên nghiệp cho từng nhân viên,
                        nỗ lực hoàn thiện giá trị “Cùng nhau hướng đến một Fly Pizza TUYỆT VỜI!”
                    </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- client section -->

<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                Thành viên
            </h2>
        </div>
        <div class="carousel-wrap row ">
            <div class="owl-carousel client_owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="detail-box" style="background-color: #222831; color: #FFFFFF;">
                            <p style="height:70px;">
                                Khi trưởng thành, tôi ngày càng ít quan tâm đến những gì mọi người nói. Tôi chỉ xem những gì họ làm được.
                            </p>
                            <h6>
                                Phan Khắc Bão Nghĩa
                            </h6>
                            <p>
                                Nhóm trưởng
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/members/phannghia.jpg" class="box-img" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="detail-box" style="background-color: #222831; color: #FFFFFF;">
                            <p style="height:70px;">
                                Rất nhiều người không dám nói lên những gì họ muốn. Đó là lý do tại sao họ không có được những gì họ muốn.
                            </p>
                            <h6>
                                Thiều Thị Diệu Linh
                            </h6>
                            <p>
                                Thành viên
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/members/dieulinh.jpg" class="box-img" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="detail-box" style="background-color: #222831; color: #FFFFFF;">
                            <p style="height:70px;">
                                Kiên trì làm việc tốt sẽ mang lại nhiều thứ. Như mặt trời có thể làm tan băng, lòng tốt có thể làm bốc hơi sự hiểu lầm, hoài nghi và thù địch.
                            </p>
                            <h6>
                                Nguyễn Đình Huy
                            </h6>
                            <p>
                                Thành viên
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/members/dinhhuy.jpg" class="box-img" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="detail-box" style="background-color: #222831; color: #FFFFFF;">
                            <p style="height:70px;">
                                Tranh cãi với một kẻ ngốc sẽ chứng minh rằng có hai kẻ ngốc.
                            </p>
                            <h6>
                                Trần Thị Minh Ánh
                            </h6>
                            <p>
                                Thành viên
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/members/minhanh.jpg" class="box-img" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="detail-box" style="background-color: #222831; color: #FFFFFF;">
                            <p style="height:70px;">
                                Khi người khác hỏi những điều mà bạn không muốn trả lời, xin hãy cười và nói “tại sao bạn lại muốn biết điều đó?”.
                            </p>
                            <h6>
                                Nguyễn Huy
                            </h6>
                            <p>
                                Thành viên
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/members/nguyenhuy.jpg" class="box-img" />
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="detail-box" style="background-color: #222831; color: #FFFFFF;">
                            <p style="height:70px;">
                                Thành công lớn nhất là đứng dậy sau mỗi lần bị vấp ngã.
                            </p>
                            <h6>
                                Nguyễn Tiến Anh
                            </h6>
                            <p>
                                Thành viên
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/Content/images/members/tienanh.jpg" class="box-img"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->
